@charset "UTF-8";

#footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12.5rem;
  background-color: #f8f8fa;
  box-sizing: border-box;
  min-width: 68.75rem;
  position: relative;

  > .content-wrap-footer {
    width: 68.75rem;
    margin: 0 auto;

    > .top > ul {
      color: #666666;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      font-size: 0.875rem;
      gap: 1rem;
      padding: 1.875rem 0;

      > li > a:hover {
        text-decoration: underline;
      }

      > li > button {
        border-radius: 999rem;
        border: 0.0625rem solid #d8d9db;
        background-color: inherit;
        padding: 0.375rem 0.875rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
        cursor: pointer;
        color: #666666;
        font-size: 0.875rem;
      }
    }

    > .bottom {
      color: #666666;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1.25rem;
      font-size: 0.875rem;

      > .sns {
        padding: 0;
        margin: 0;
        gap: 0.5rem;
        display: flex;
        flex-direction: row;
      }
    }
  }
}