@charset "UTF-8";

#header {
  left: 0;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background-color: #000000a0;
  border-bottom: 0.0625rem solid #ffffff33;
  box-sizing: border-box;
  color: #ffffff;
  min-width: 68.75rem;
  padding: 0.8rem 0.1rem 0.5rem 0.1rem;
  position: absolute;

  > .ci {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;

    > a {
      display: block;
      width: 8.75rem;
      height: 2.9375rem;
      margin: 0;
      padding: 0;
      font-size: 0;
      line-height: 0;
    }
  }

  > .content-wrap-header {
    width: 68.75rem;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.4rem;

    > .util {
      width: 100%;
      color: #888888;
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 0.8rem;
      gap: 1.25rem;

      > li > a:hover {
        text-decoration: underline;
      }
    }

    > .menu {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 6rem;

      > .menu-wrap {
        gap: 4rem;
      }

      > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        > .item-wrap {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 1rem;
        }
      }
    }
  }
}