@charset "UTF-8";

#cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212121a0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 250ms;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 7;

  &.-visible {
    opacity: 1;
    pointer-events: all;
  }
}

#header {
  left: 0;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background-color: #ffffff;
  border-bottom: 0.0625rem solid #503396;
  box-sizing: border-box;
  color: #ffffff;
  min-width: 68.75rem;
  padding: 0.875rem 0.125rem 0 0.125rem;
  position: absolute;
  z-index: 3;

  > .ci {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 4;

    > a {
      display: block;
      width: 8.75rem;
      height: 2.9375rem;
      margin: 0;
      padding: 0;
      font-size: 0;
      line-height: 0;
    }
  }

  > .content-wrap-header {
    width: 68.75rem;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.4rem;

    > .util {
      width: 100%;
      color: #888888;
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 0.875rem;
      gap: 1.25rem;

      > li > a:hover {
        text-decoration: underline;
      }
    }

    > .menu {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 6rem;

      > .menu-wrap {
        gap: 4rem;

        > li:hover {
          border-bottom: 0.0625rem solid #339eb2;
        }
      }

      > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        > .item-wrap {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 1rem;
        }
      }
    }
  }
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  top: 50%;
  left: 50%;
  width: 25rem;
  background-color: #ffffff;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transform: scale(95%) translate(-50%, -50%);
  z-index: 8;

  &.-visible {
    opacity: 1;
    pointer-events: all;
    transform: scale(100%) translate(-50%, -50%);
  }

  > .login-top {
    background-color: #503396;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0.375rem 0.875rem;

    > h3 {
      color: #ffffff;
      flex-grow: 1;
      margin: 0;
      vertical-align: center;
      padding-top: 0.25rem;
    }

    > img {
      height: 1.25rem;
      width: 1.25rem;
      cursor: pointer;
    }
  }

  > .login-main {
    padding: 0.875rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 0.875rem;

    > label {

      > .input {
        width: 100%;
        box-sizing: border-box;
        padding: 0.5rem;
        border: 0.0625rem solid #d8d9db;

        &:hover {
          border: 0.0625rem solid #666666;
        }

        &:focus {
          outline: none;
          border-color: #444444;
        }
      }
    }

    > div > .check-label {
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.25rem;
      color: #444444;

      > .check {
        width: 0.875rem;
        height: 0.875rem;
      }
    }

    > .--button.-purple {
      width: 100%;
    }

    > .link {
      text-align: center;
      color: #666666;

      > a {

        &:not(:last-child)::after {
          content: '|';
          margin: 0 0.5rem;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}