@charset "UTF-8";

.member-wrap {

  > p {
    margin-bottom: 0.375rem;
  }
  > span {
    color: #444444;
  }

  > .-underline {
    font-size: 1.25rem;
    padding: 1rem 0;
    border-bottom: 0.0625rem solid #ebebeb;

    > label {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.25rem;

      > input {
        height: 1rem;
        width: 1rem;
      }
    }
  }

  > .txt-wrap {
    padding-top: 1.875rem;
    font-size: 0.875rem;
    color: #503396;
    display: flex;
    //gap: 1.875rem;
    flex-direction: column;

    > label {
      position: relative;
      font-size: 0.875rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.25rem;

      > textarea {
        margin: 0.875rem 0 1.875rem 0;
        width: 100%;
        height: 10rem;
        border: 0.0625rem solid #ebebeb;
        resize: none;
        padding: 1.25rem;
      }

      > input {
        height: 1rem;
        width: 1rem;
      }
    }

    a {
      margin: 1rem auto;

      > button {
        width: 12.5rem;
        padding: 0.375rem 0;
        border-radius: 0.25rem;
        font-size: 1.25rem;
      }
    }
  }
}