@charset "UTF-8";

@import "./common/footer.css";
@import "./common/header-white.css";

@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");

:root {
  --header-height: 5.6875rem;
}

body  {
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: 'NanumBarunGothic', sans-serif;
  line-height: 1.5;
  //margin-top: var(--header-height);
  margin: var(--header-height) 0 0 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font: inherit;
}

ol, ul {
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

.spring {
  flex-grow: 1;
}

.content-wrap {
  width: 68.75rem;
  margin: 0 auto;
}

.---loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2.5rem);
  background-color: #212121c0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 250ms;
  transition-property: opacity;
  transition-timing-function: ease;
  user-select: none;
  z-index: 100;

  &.-visible {
    opacity: 1;
    pointer-events: all;

    > ._icon {
      top: 0;
      opacity: 1;
      transition-delay: 125ms;
    }

    > ._text {
      top: 0;
      opacity: 1;
      transition-delay: 500ms;
    }
  }

  > ._icon {
    @keyframes anim {
      from {
        transform: rotateZ(0deg);
      }
      to {
        transform: rotateZ(360deg);
      }
    }
    top: 0.5rem;
    width: 3rem;
    animation-name: anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0;
    //position: relative;
    transition-duration: 250ms;
    transition-property: top, opacity;
    transition-timing-function: ease;
  }

  > ._text {
    top: 0.5rem;
    font-size: 1.25rem;
    opacity: 0;
    position: relative;
    transition-duration: 250ms;
    transition-property: top, opacity;
    transition-timing-function: ease;
  }
}

.--button {
  border-radius: 0.25rem;
  width: 12.5rem;
  padding: 0.375rem 0;
  font-size: 1.125rem;
  border: 0;
  line-height: 2.25rem;

  &.-gblue {
    $background_color: #037b94;
    background-color: $background_color;
    color: #ffffff;

    &:hover {
      background-color: darken($background_color, 10%);
    }

    &:active {
      background-color: darken($background_color, 20%);
    }
  }

  &.-purple {
    $background_color: #503396;
    background-color: $background_color;
    color: #ffffff;

    &:hover {
      background-color: darken($background_color, 10%);
    }

    &:active {
      background-color: darken($background_color, 20%);
    }
  }

  &.-gray {
    $background_color: #a0a0a0;
    background-color: $background_color;
    color: #ffffff;

    &:hover {
      background-color: darken($background_color, 10%);
    }

    &:active {
      background-color: darken($background_color, 20%);
    }
  }
}
