@charset "UTF-8";

html {
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  overflow: auto;
  overflow-y: scroll;
  letter-spacing: 0;
  line-height: 1.5;
  font-size: 15px;
  color: #444;
  font-weight: 400;
  font-family: NanumBarunGothic, Dotum, '돋움', sans-serif;
}

#header {
  position: relative;
  z-index: 100;
  width: 100%;
  min-width: 1100px;
  height: 91px;
  background: #fff;
  border-bottom: 1px solid #351f67;
}

.container {
  width: 100%;
  min-width: 1100px;
  min-height: 100%;
  margin: -92px 0 -200px 0;
  padding: 92px 0 300px 0;
}

.container.no-padding-bottom {
  padding-bottom: 200px;
}

.page-util {
  display: block;
  position: static;
  width: 100%;
  height: 42px;
  background-color: #f8f8fa;
}

.page-util.off {
  display: none;
}

.inner-wrap {
  width: 1100px;
  margin: 0 auto;
}

.page-util .location {
  float: left;
  height: 42px;
}

.page-util .location span {
  overflow: hidden;
  display: block;
  float: left;
  width: 13px;
  height: 100%;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
}

.page-util .location a {
  display: block;
  position: relative;
  float: left;
  height: 42px;
  margin: 0 0 0 25px;
  padding: 0;
  line-height: 46px;
  color: #666;
}

.page-util .location a:before, .page-util .location span.no-link:before {
  content: '';
  display: block;
  position: absolute;
  left: -14px;
  top: 0;
  width: 5px;
  height: 42px;
  background: url('/static/assets/images/common/bg/bg-location-arr.png') no-repeat left center;
}

#contents.no-padding {
  padding-top: 0;
}

#contents {
  width: 100%;
  margin: 0;
  padding: 40px 0 0 0;
}

.movie-detail-page {
  position: relative;
  z-index: 1;
  height: 520px;
  margin: 0 0 40px 0;
  color: #ccc;
  background-color: #151515;
}

.movie-detail-page .bg-img {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
  width: 1100px;
  margin: 0 0 0 -550px;
  height: 100%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  opacity: 0.3;
}

.movie-detail-page .bg-pattern {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: url('/static/assets/images/common/bg/bg-movie-detail-pattern.png') repeat-x 0 0;
}

.movie-detail-page .bg-mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #0f0f0f 20%, rgba(15, 15, 15, 0) 50%, #0f0f0f 80%);
}

.movie-detail-page .movie-detail-cont {
  position: relative;
  z-index: 4;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 55px 0 0 0;
}

.movie-detail-page p {
  margin: 0;
  padding: 0;
}

.movie-detail-page .movie-detail-cont .title {
  position: static;
  left: inherit;
  top: inherit;
  width: 800px;
  padding: 15px 0 0 0;
  color: #fff;
  font-size: 3.0666em;
  font-weight: 400;
  line-height: 1.2;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, .7);
}

.movie-detail-page .movie-detail-cont .title-eng {
  width: 800px;
  padding: 10px 0 0 0;
  font-size: 1.3333em;
  color: #fff;
  line-height: 1.1;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.movie-detail-page .movie-detail-cont .btn-util {
  padding: 15px 0 0 0;
}

.movie-detail-page .movie-detail-cont .btn-util .btn {
  display: inline-block;
  min-width: 100px;
  height: 36px;
  line-height: 34px;
  margin: 0 6px 0 0;
  padding: 0 10px;
  font-size: .9333em;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: 1px solid #706f72;
  border-radius: 4px;
  background-color: transparent;
}

.movie-detail-page .movie-detail-cont .btn-util .btn .iconset {
  margin-right: 4px;
}

.btn-like:hover {
  background-color: #ffffff;
  &>.iconset>.ico-heart-line {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABW0lEQVR4nO2Uv0oDQRDG9xVsRAsRQQsby2ChlaiIreFmLmn1lVSIlha+gXCzlxDizSQWNjaChfgHQbBQjKIQZQMJ4u2dLtmAhR8MHNzc99v7bm6U+peryjWeAi27QHKFJO+o5RpIKuX4eLrXg9VkBrXsmXumx/QCyY55NtcctawiyRNq+fheQPwGJJuh5i1zbe+Rx4B4JfPkWebYK+JOt3J6DCSkxmQKYGLJNdcuxdtpgMncH+DSkj+/+gIAyYslIr7wCDi3fYN9j4BKClCKed4LgLiDUatgHVXQcugBcmA17/4LR41RIL4dwPyuGMuYylMQ8SKStN2jkTbGyUKueT+qKFl2GVswa0TzunJRSFLM2jkp85g3nMz7cWlZyt9P/BxEzTU1iDBqFYD43jLrD7/O/Mc3qSazZr98AdxAlMwpnyrVTsZRyyloOQtqzQk1DIX1+oipoZj/WX0CB9wFwJ9TOi8AAAAASUVORK5CYII=");
    width: 17px;
    height: 15px;
  }
}

.ico-heart-line {
  width: 17px;
  height: 15px;
}

.ico-sns-line {
  width: 17px;
  height: 17px;
}

.movie-detail-page .movie-detail-cont .btn-util .sns-share {
  position: relative;
  display: inline-block;
}

.movie-detail-page .movie-detail-cont .btn-util .sns-share .btn-sns-share-wrap {
  display: none;
  position: absolute;
  left: 50%;
  top: 54px;
  z-index: 55;
  width: 360px;
  height: 110px;
  margin: 0 0 0 -180px;
  padding: 20px 0 0 0;
  border: 1px solid #d8d9db;
  border-radius: 5px;
  background-color: #fff;
}

.movie-detail-page .movie-detail-cont .btn-util .sns-share .btn-sns-share-wrap .cont-area {
  position: relative;
}

.btn-sns-share-group {
  margin: 0;
  padding: 0;
  text-align: center;
}

.movie-detail-page .movie-detail-cont .btn-util .sns-share .btn-sns-share-wrap .btn {
  display: inline-block;
  min-width: 50px;
  margin: 0 4px;
  padding: 48px 0 0 0;
  border: 0;
  font-size: .9333em;
  color: #444;
  line-height: 1.1;
  background-color: transparent;
  background-position: center top;
  background-repeat: no-repeat;
}

.movie-detail-page .movie-detail-cont .screen-type2 {
  display: flex;
  margin-top: 15px;
}

.movie-detail-page .movie-detail-cont .screen-type2 p {
  display: block;
  margin: 0;
}

.movie-detail-page .movie-detail-cont .screen-type2 img {
  display: block;
  width: 68px;
  height: 24px;
}

.movie-detail-page .movie-detail-cont .info {
  position: absolute;
  left: 0;
  bottom: 45px;
  padding: 0;
}

.movie-detail-page .movie-detail-cont .info .score {
  float: left;
  padding: 0;
}

.movie-detail-page .movie-detail-cont .info .tit {
  display: block;
  padding: 0 0 15px 0;
  line-height: 1.1;
  font-size: .9333em;
}

.movie-detail-page .movie-detail-cont .info .score .number {
  padding: 0 0 0 30px;
  font-family: Roboto, Dotum, '돋움', sans-serif;
  font-weight: 400;
}

.movie-detail-page .movie-detail-cont .info .score .number>p {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1;
}

.movie-detail-page .movie-detail-cont .info .score .number.gt .before {
  font-size: 2.1333em;
}

.movie-detail-page .movie-detail-cont .info .score .number .before {
  color: #59bec9;
}

.movie-detail-page .movie-detail-cont .info .rate {
  float: left;
  padding: 0 0 0 35px;
}

.movie-detail-page .movie-detail-cont .info .rate .cont {
  display: inline-block;
  min-height: 35px;
  padding: 0 0 0 30px;
  vertical-align: middle;
  line-height: 1.1;
}

.movie-detail-page .movie-detail-cont .info .rate .cont em {
  margin: 0 4px 0 0;
  color: #fff;
  font-size: 2.1333em;
  font-family: Roboto, Dotum, '돋움', sans-serif;
  font-weight: 400;
}

.movie-detail-page .movie-detail-cont .info .audience {
  float: left;
  padding: 0 0 0 35px;
}

.movie-detail-page .movie-detail-cont .info .audience .tit {
  position: relative;
}

.m-tooltip {
  position: relative;
}

.ico-tooltip-gray {
  overflow: hidden;
  width: 16px;
  height: 16px;

  &:hover ~ .m-detail-tooltip {
    display: block;
  }
}

.m-detail-tooltip {
  display: none;
  position: absolute;
  width: 320px;
  left: -105px;
  top: -90px;
  margin: 0;
  padding: 15px 20px;
  border: 1px solid #d8d9db;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  z-index: 55;
}

.m-detail-tooltip .bg-arr.bottom {
  left: 100px;
  bottom: -11px;
  width: 22px;
  height: 11px;
}

.m-detail-tooltip .bg-arr {
  display: block;
  overflow: hidden;
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.m-detail-tooltip .cont-area .reset {
  color: #666;
}

.movie-detail-page .movie-detail-cont .info .audience .cont {
  display: inline-block;
  padding: 0 0 0 30px;
  vertical-align: middle;
  line-height: 1.1;
}

.movie-detail-page .movie-detail-cont .info .audience .cont em {
  margin: 0 4px 0 0;
  color: #fff;
  font-size: 2.1333em;
  font-family: Roboto, Dotum, '돋움', sans-serif;
  font-weight: 400;
}

.movie-detail-page .movie-detail-cont .poster {
  overflow: hidden;
  display: block;
  position: absolute;
  right: 0;
  top: 45px;
  z-index: 2;
  width: 260px;
  height: 374px;
  border-radius: 8px;
}

.movie-detail-page .movie-detail-cont .poster .wrap {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0;
  line-height: 0;
}

.movie-detail-page .movie-detail-cont .poster .wrap .movie-grade {
  overflow: hidden;
  position: absolute;
  right: 9px;
  bottom: 9px;
  z-index: 4;
}

.movie-detail-page .movie-detail-cont .poster .wrap img {
  display: block;
  width: 100%;
  height: 100%;
}

.movie-detail-page .movie-detail-cont .screen-type {
  overflow: hidden;
  display: block;
  position: absolute;
  right: 0;
  bottom: 45px;
  width: 260px;
}

.movie-detail-page .movie-detail-cont .screen-type .btn {
  display: block;
  float: left;
  height: 46px;
  line-height: 44px;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  border: 0;
  border-radius: 5px;
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
}

.movie-detail-page .movie-detail-cont .screen-type .btn.dolby {
  background-color: #00586a;
  padding-top: 7px;
}

.movie-detail-page .movie-detail-cont .screen-type .btn.dolby img {
  display: inline-block;
}

.movie-detail-page .movie-detail-cont .screen-type .btn:first-child {
  margin-left: 0;
}

.movie-detail-page .movie-detail-cont .screen-type .btn.reserve {
  background-color: #329eb1;
}

.movie-detail-page .movie-detail-cont .screen-type.col-2 .btn {
  width: 130px;
  border-radius: 0 5px 5px 0;
}

.movie-detail-page .movie-detail-cont .screen-type.col-2 .btn:first-child {
  border-radius: 5px 0 0 5px;
}

// inner-wrap (상세 정보 부분)
.inner-wrap {
  width: 1100px;
  margin: 0 auto;
}

.tab-list {
  position: static;
  width: 100%;
  background-color: rgba(255, 255, 255);
}

.tab-list>ul {
  position: relative;
  width: 100%;
  height: 42px;
}

.tab-list>ul>li:first-child:nth-last-child(3) {
  width: 33.334%;
}

.tab-list>ul>li:first-child:nth-last-child(3)~li {
  width: 33.333%;
}

.tab-list>ul>li:last-child {
  border-right: 1px solid #ebebeb;
}

.tab-list>ul>li.on {
  border: 1px solid #503396;
  border-bottom: 0;
}

.tab-list>ul>li.on>a {
  z-index: 3;
  color: #503396;
  background-color: #fff;
}

.tab-list>ul>li.on+li {
  border-left: 0;
}

.tab-list>ul>li {
  float: left;
  height: 42px;
  margin: 0;
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #503396;
}


.tab-list>ul>li>a {
  position: relative;
  display: block;
  width: 100%;
  height: 41px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  color: #222;
  font-size: 1.0667em;
  text-decoration: none;
}

// 영화 상세 내용
.movie-summary {
  margin: 20px 0 0 0;
}

.movie-summary .txt {
  overflow: hidden;
  height: 140px;
}

.movie-summary .btn-more {
  padding: 30px 0 0 0;
}

.btn-more {
  position: relative;
  padding: 40px 0 0 0;
}

.btn-more .btn {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 40px;
  border: 0;
  border-bottom: 1px solid #eaeaea;
  background-color: transparent;
  color: #666;
}

.btn-more .btn i {
  margin-left: 6px;
}

.ico-btn-more-arr {
  width: 12px;
  height: 7px;
}

.movie-info {
  padding: 30px 0;
  color: #222;
}

.movie-info p {
  margin: 0;
  padding: 0;
}

.movie-info .line p {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 0 0 20px;
}

.movie-info .line p:before {
  content: '';
  display: block;
  position: absolute;
  left: 9px;
  top: 50%;
  width: 1px;
  height: 13px;
  margin: -6px 0 0 0;
  background-color: #d8d9db;
}

.movie-info .line p:first-child {
  padding: 0;
}

// 그래프
.movie-graph {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.movie-graph .col {
  display: table-cell;
  width: 25%;
  border: 1px solid #eaeaea;
  padding: 30px 0;
}

.movie-graph .col dl {
  text-align: center;
  font-weight: 400;
}

.movie-graph .col dl dt {
  font-size: 1.0667em;
  color: #555;
}

.movie-graph .col dl dd {
  padding: 0 0 30px 0;
  font-size: 2em;
  color: #503396;
}

.movie-graph .col dl dd.font-roboto {
  font-size: 2.2em;
}

dd, dl, dt {
  margin: 0;
  padding: 0;
}

.movie-graph .col .graph {
  overflow: hidden;
  width: 216px;
  height: 216px;
  margin: 0 auto;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

// 관람포인트
.chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
  position: absolute;
  direction: ltr;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
}

.chartjs-size-monitor-expand > div {
  position: absolute;
  width: 1000000px;
  height: 1000000px;
  left: 0;
  top: 0;
}

.chartjs-size-monitor-shrink > div {
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
}

// 실관람 평점
.movie-graph .col .score {
  position: relative;
  height: 162px;
  margin: 30px 0 0 0;
  text-align: center;
}

.movie-graph .col .score.equal .middle .circle {
  left: 122px;
  top: 12px;
  z-index: 6;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 120px;
}

.movie-graph .col .score .middle .circle {
  background-color: #6543b1;
}

.movie-graph .col .score .circle {
  overflow: hidden;
  display: block;
  position: absolute;
  color: #fff;
  font-size: 2em;
  font-family: roboto;
  font-weight: 400;
}

// 관람평
.tit-util {
  margin-top: 70px;
  margin-bottom: 15px;
}

div.tit.small {
  padding: 0 0 16px 0;
  height: 3rem;
  font-size: 1em;
  color: #503396;
}

div.tit {
  font-weight: 400;
  letter-spacing: -1px;
  margin: 0;
}

.tit-util .tit {
  display: flex; /* 자식 요소를 가로로 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  font-size: 24px;
  font-weight: bold;
  gap: 5px;
}

.movie-idv-story {
  display: block;
  position: relative;
  min-height: 500px;
}

.movie-idv-story ul li {
  position: relative;
  width: 100%;
}

.movie-idv-story ul li+li {
  margin-top: 20px;
}

.movie-idv-story ul li .story-area {
  display: block;
  width: 100%;
}

.movie-idv-story ul li .story-area:after {
  clear: both;
  display: block;
  content: '';
}

.movie-idv-story ul li .story-area .user-prof {
  position: relative;
  float: left;
  width: 105px;
  text-align: center;
}

.movie-idv-story ul li .story-area .user-prof .prof-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto 10px;
  overflow: hidden;
}

.movie-idv-story ul li .story-area .user-prof .prof-img img {
  width: 100%;
}

.movie-idv-story ul li .story-area .user-prof .user-id {
  margin: 0;
  width: 105px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .9333em;
  line-height: 1.1;
}

.movie-idv-story ul li .story-area .story-box {
  float: right;
  position: relative;
  width: calc(100% - 105px);
  height: 84px;
  padding: 0;
}

.movie-idv-story ul li.type03 .story-area .story-box {
  border-radius: 0 10px 10px 10px;
  border: 1px solid #eaeaea;
  background-color: #fff;
}

.movie-idv-story ul li.wrtReview {
  display: none;
}

.movie-idv-story ul li.wrtReview .story-area .story-box {
  border-radius: 0 10px 10px 10px;
  border: 1px solid #6543b1;
  background-color: rgba(101,67,177,0.02);
}

.movie-idv-story ul li.wrtReview .story-area .story-box .story-wrap .story-cont {
  display: table-cell;
  float: none;
  width: 850px;
  height: 84px;
  vertical-align: middle;
  padding-left: 30px;
  text-align: left;
  color: #666;
}
.movie-idv-story ul li.wrtReview .story-area .story-box .story-wrap .story-cont .rating-cont {
  display: table-cell;
  width: 120px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
}

.movie-idv-story ul li.wrtReview .story-area .story-box .story-wrap .story-cont .keyword-cont {
  display: table-cell;
  width: 150px;
  height: auto;
  padding: 0 0 0 20px;
  vertical-align: middle;
}

.movie-idv-story ul li.wrtReview .story-area .story-box .story-wrap .story-cont .keyword-cont > button {
  color: lightgray;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.movie-idv-story ul li.wrtReview .story-area .story-box .story-wrap .story-cont .keyword-cont > button:hover {
  color: rgba(101,67,177,0.3);
  border-color: rgba(101,67,177,0.3);
}

.movie-idv-story ul li.wrtReview .story-area .story-box .story-wrap .story-cont .keyword-cont > button:active {
  color: #6543b1;
  border-color: #6543b1;
}

.movie-idv-story ul li.wrtReview .story-area .story-box .story-wrap .story-cont .keyword-cont > button.active {
  color: #6543b1;
  border-color: #6543b1;
}

.movie-idv-story ul li.wrtReview .story-area .story-box .story-wrap .story-cont .review-content {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px 0 30px;
  width: 550px;
}

.movie-idv-story ul li.wrtReview .story-area .story-box .story-wrap .story-cont .review-content textarea {
  position: relative;
  text-align: left;
  color: #666;
  font-size: .9333em;
  line-height: 1.4;
  width: 100%;
  height: 65px;
  top: 2.5px;
  resize: none;
  border-radius: 0.5rem;
  border: 0.001rem solid rgba(101,67,177,0.1);
}

.movie-idv-story ul li.wrtReview .story-area .story-box .story-wrap .story-cont .review-content textarea:focus {
  outline: none;
  border-color: rgba(101,67,177,0.7);
}

.movie-idv-story ul li.wrtReview .story-area .story-box .story-wrap .story-write {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 88.58px;
}

.movie-idv-story ul li.wrtReview .story-area .story-box .story-wrap .story-write button {
  color: #666;
}

.movie-idv-story ul li.wrtReview .story-area .story-box .story-wrap .story-write button i {
  margin-right: 5px;
}

.movie-idv-story ul li.type01 .story-area .story-box .story-wrap {
  display: block;
  width: 100%;
  height: 84px;
}

.movie-idv-story ul li.type03 .story-area .story-box .story-wrap .story-cont {
  display: table-cell;
  float: none;
  width: 850px;
  height: 84px;
  vertical-align: middle;
  padding-left: 30px;
  color: #666;
}

.movie-idv-story ul li .story-area .story-box .story-cont {
  display: table;
  float: left;
  width: 890px;
  height: 84px;
  padding: 0;
  vertical-align: middle;
}

.movie-idv-story ul li.type03 .story-area .story-box .story-wrap .story-write {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.movie-idv-story ul li.type03 .story-area .story-box .story-wrap .story-write a {
  width: 105px;
  height: 24px;
  color: #666;
  text-decoration: none;
}

.movie-idv-story ul li.type03 .story-area .story-box .story-wrap .story-write a i {
  margin-right: 5px;
}

.movie-idv-story ul li.type03 .story-area .story-box .story-wrap .story-write button {
  width: 105px;
  height: 24px;
  color: #666;
}

.ico-arr-right-green {
  overflow: hidden;
  width: 6px;
  height: 10px;
}


.ico-story-write {
  width: 18px;
  height: 18px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-story-write.png);
}

.tooltip-cont {
  display: none;
  position: absolute;
  left: 0;
  top: -100px;
  width: 300px;
  padding: 20px;
  color: #222;
  font-size: .8333em;
  text-align: center;
  line-height: 1.5;
  border: 1px solid #d8d9db;
  border-radius: 5px;
  background-color: #fff;
}

.tooltip-cont .wrap {
  position: relative;
}

.tooltip-cont .wrap .btn-close-tooltip {
  position: relative;
}

.movie-idv-story ul li button {
  background: 0 0;
  border: none;
}

.btn-close-tooltip {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -999px;
}

// 별 총점
.rating {
  background: no-repeat center;
  background-size: contain;
  position:relative;
  font-size:0;
  width: 120px;
  height: 24px;
  display: flex;
  align-items: center;
}

// 라디오 숨기기
.rating > input {
  display: none;
}

// 마우스 오버 시 활성화될 별
.rating .rating_bg {
  display:none;
  position:absolute;
  top:0;
  left:0;
  width: 120px;
  height:24px;
  pointer-events:none;
  background: no-repeat center;
  background-size: contain;
}

// input 과 연결된 label 의 넓이 지정
// (label 의 width 값을 한개의 별 넓이의 1/2로 한다)
.rating > input {
  width: 0;
  height: 0;
  box-sizing: border-box;
}
.rating > label {
  top: 0;
  display: block;
  opacity: 0;
  width: 12px;
  height: 24px;
}

// 마우스 오버, input 에 체크 시 active 될 넓이 지정
.rating > input:nth-of-type(1):hover ~ .rating_bg,
.rating > input:nth-of-type(1):checked ~ .rating_bg {
  display: block;
  clip-path: inset(0 91.5% 0 0);
}
.rating > input:nth-of-type(2):hover ~ .rating_bg,
.rating > input:nth-of-type(2):checked ~ .rating_bg {
  display: block;
  clip-path: inset(0 80% 0 0);
}
.rating > input:nth-of-type(3):hover ~ .rating_bg,
.rating > input:nth-of-type(3):checked ~ .rating_bg {
  display: block;
  clip-path: inset(0 70% 0 0);
}
.rating > input:nth-of-type(4):hover ~ .rating_bg,
.rating > input:nth-of-type(4):checked ~ .rating_bg {
  display: block;
  clip-path: inset(0 60% 0 0);
}
.rating > input:nth-of-type(5):hover ~ .rating_bg,
.rating > input:nth-of-type(5):checked ~ .rating_bg {
  display: block;
  clip-path: inset(0 50% 0 0);
}
.rating > input:nth-of-type(6):hover ~ .rating_bg,
.rating > input:nth-of-type(6):checked ~ .rating_bg {
  display: block;
  clip-path: inset(0 40% 0 0);;
}
.rating > input:nth-of-type(7):hover ~ .rating_bg,
.rating > input:nth-of-type(7):checked ~ .rating_bg {
  display: block;
  clip-path: inset(0 30% 0 0);
}
.rating > input:nth-of-type(8):hover ~ .rating_bg,
.rating > input:nth-of-type(8):checked ~ .rating_bg {
  display: block;
  clip-path: inset(0 20% 0 0);
}
.rating > input:nth-of-type(9):hover ~ .rating_bg,
.rating > input:nth-of-type(9):checked ~ .rating_bg {
  display: block;
  clip-path: inset(0 8.5% 0 0);
}
.rating > input:nth-of-type(10):hover ~ .rating_bg,
.rating > input:nth-of-type(10):checked ~ .rating_bg {
  display: block;
  clip-path: inset(0 0 0 0);
}

// 관람평 리스트
.movie-idv-story ul li.type01 .story-area .story-box .story-wrap {
  display: block;
  width: 100%;
  height: 84px;
}

.movie-idv-story ul li.type01 .story-area .story-box .story-wrap .tit {
  float: left;
  height: 84px;
  width: 105px;
  line-height: 82px;
  text-align: center;
  vertical-align: middle;
  border-radius: 0 0 0 10px;
}

.movie-idv-story ul li .story-area .story-box .review .tit {
  color: #503396;
}

.movie-idv-story ul li.type01 .story-area .story-box .tit {
  background-color: #f8f8fa;
}

.movie-idv-story ul li .story-area .story-box .tit {
  font-weight: 400;
  background-color: #fff;
  border: 1px solid #f2f4f5;
  border-width: 1px 0 1px 1px;
}

.movie-idv-story ul li .story-area .story-box .review .story-cont {
  background-color: #f8f8fa;
  color: #503396;
  border-radius: 0 10px 10px 0;
}

.movie-idv-story ul li .story-area .story-box .story-cont .story-point {
  display: table-cell;
  width: 90px;
  height: 50px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.movie-idv-story ul li .story-area .story-box .story-cont .story-point span {
  display: inline-block;
  vertical-align: top;
  font-size: 2.4em;
  font-family: Roboto;
  font-weight: 300;
}

.movie-idv-story ul li .story-area .story-box .story-cont .story-recommend {
  display: table-cell;
  width: 85px;
  height: 50px;
  padding: 0 20px 0 0;
  vertical-align: middle;
}

.movie-idv-story ul li .story-area .story-box .story-cont .story-recommend em {
  display: inline-block;
  width: 100%;
  padding: 0;
  text-align: center;
}

.movie-idv-story ul li .story-area .story-box .story-cont .story-txt {
  display: table-cell;
  position: relative;
  padding: 0 20px 0 30px;
  text-align: left;
  color: #666;
  vertical-align: middle;
  font-size: .9333em;
  line-height: 1.4;
}

.movie-idv-story ul li .story-area .story-box .story-cont .story-txt:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 50px;
  margin-top: -25px;
  background-color: rgba(0, 0, 0, .1);
}

.movie-idv-story ul li .story-area .story-box .story-cont .story-like {
  display: table-cell;
  width: 40px;
  text-align: center;
  vertical-align: middle;
}

.movie-idv-story ul li .story-area .story-box .story-cont .story-like button {
  height: 30px;
  padding-top: 5px;
}

.movie-idv-story ul li .story-area .story-box .story-cont .story-like button i {
  display: block;
  margin: 0 auto;
}

.ico-like-gray {
  width: 16px;
  height: 17px;
}

.movie-idv-story ul li .story-area .story-box .story-cont .story-like button span {
  display: block;
  padding: 5px 0 0 0;
  color: #666;
  font-size: .8667em;
}

.movie-idv-story ul li .story-area .story-box .story-cont .story-util {
  display: table-cell;
  position: relative;
  width: 40px;
  vertical-align: middle;
}

.movie-idv-story ul li .story-area .story-box .story-cont .story-util .post-function {
  position: static;
}

.movie-idv-story ul li .story-area .story-box .story-cont .story-util .post-function .btn-alert {
  width: 40px;
  background-position: 10px center;

  &:active ~ .balloon-space{
    display: block;
  }
}

.movie-idv-story ul li.type01 .story-area .story-box .story-wrap:after {
  clear: both;
  content: '';
  display: block;
}

.movie-idv-story ul li .story-area:after {
  clear: both;
  display: block;
  content: '';
}

.movie-idv-story ul li .story-date {
  padding: 10px 0 0 0;
  text-align: right;
  font-size: .9333em;
  line-height: 1.1;
  color: #666;
}

.movie-idv-story ul li .balloon-space {
  color: #444;
}

.post-function .balloon-space .balloon-cont {
  position: relative;
  padding: 10px 25px 10px 20px;
}

.post-function {
  position: absolute;
  top: 30px;
  right: 0;
}

.post-function .wrap, .post-function .wrapper {
  position: relative;
}

.post-function .btn-alert {
  text-indent: -10000px;
  border: 0;
  width: 50px;
  height: 23px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}

.post-function .balloon-space {
  display: none;
  position: absolute;
  top: 50%;
  right: 50px;
  z-index: 11;
  width: 260px;
  border: 1px solid #d8d9db;
  background-color: #fff;
  border-radius: 5px;
  text-align: left;
}

.post-function .balloon-space.user {
  height: 90px;
  margin-top: -45px;
}

.post-function .balloon-space.user .user {
  display: block;
}

.post-function .balloon-space .balloon-cont .user {
  display: block;
  padding: 0 5px;
  text-align: center;
}

.post-function .balloon-space .balloon-cont .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.post-function .balloon-space .balloon-cont .user button {
  display: inline-block;
}

.post-function .balloon-space .balloon-cont button {
  display: block;
  margin: 0;
  padding: 5px;
  border: 0;
  background-color: transparent;
  color: #037b94;
  font-size: .9333em;
}

.movie-idv-story ul li .balloon-space button i {
  margin-left: 4px;
}

.post-function .balloon-space .balloon-cont a {
  display: block;
  margin: 0;
  padding: 5px;
  border: 0;
  background-color: transparent;
  color: #037b94;
  font-size: .9333em;
}

















h2.tit {
  padding: 0 0 26px 0;
  font-size: 1.8666em;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.1;
  color: #222;
}

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ir {
  text-indent: -9999px;
  position: fixed;
  top: -9999px;
  font-size: 1px;
  width: 1px;
  height: 1px;
  opacity: 0;
}

button {
  cursor: pointer;
  letter-spacing: -.5px;
  font-weight: 400;
  font-family: NanumBarunGothic, Dotum, '돋움', sans-serif;
}

button, select {
  text-transform: none;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 1em;
  line-height: 1.15;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

a {
  background-color: transparent;
}

a:link {
  color: #444;
  text-decoration: none;
}

a:visited {
  color: #666;
  text-decoration: none;
  outline: 1px dotted #000;
}

.iconset {
  overflow: hidden;
  display: inline-block;
  margin: -1px 0 0 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-position: 0 0;
  background-repeat: no-repeat;
}

img {
  border: 0;
}

em {
  font-style: normal;
}

.ml05 {
  margin-left: 5px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.a-c {
  text-align: center !important;
}

p.reset {
  padding: 0;
  margin: 0;
}

.font-roboto.regular {
  font-weight: 400 !important;
}

.font-roboto {
  font-family: Roboto, Dotum, '돋움', sans-serif !important;
  font-weight: 300 !important;
}

.font-gblue {
  color: #01738b !important;
}

.font-green {
  color: #037b94 !important;
}


// 영화 관람가
.movie-grade.big {
  width: 28px;
  height: 28px;
}

.movie-grade.age-12 {
  background-size: 23px 23px;
}

.movie-grade.big.age-12 {
  background-size: 28px 28px;
}