@charset "UTF-8";

body {
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  margin-top: 0;
}

button:hover {
  cursor: pointer;
}

.button-wrap {
  text-align: center;
  margin: 2rem 0;

  > a > button {
    margin: 0 0.5rem;
  }
}

.on {
  border-bottom: 0.125rem solid #503396;
  color: #503396;
}

.member-wrap {
  background-color: #ffffff;
  min-height: 100vh;
  width: 44.375rem;
  padding: 5rem 6.25rem;
  margin: 0 auto;
  box-sizing: border-box;

  h1 {
    margin: 0;
    text-align: center;
    padding-bottom: 4.375rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: 400;
  }

  > .members {
    position: relative;
    border-bottom: 0.0625rem solid #ebebeb;
    color: #444444;

    > ul {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 0.875rem;

      > li {
        padding-bottom: 0.875rem;
      }
    }
  }
}