@charset "UTF-8";

.member-wrap {
  > form {

    > table {
      width: 100%;

      > tbody {

        > tr {

          > th, td {
            padding: 0.5rem 0.5rem;
          }

          > th {
            background-color: #f7f8f9;
            text-align: start;
          }
        }
      }
    }
  }
}