<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<footer id="footer" th:fragment="commonFooter">
    <div class="content-wrap-footer">
        <div class="top">
            <ul>
                <li><a href="">회사소개</a></li>
                <li><a href="">인재채용</a></li>
                <li><a href="">사회공헌</a></li>
                <li><a href="">제휴/광고/부대사업문의</a></li>
                <li><a href="">이용약관</a></li>
                <li><a href="">위치기반서비스 이용약관</a></li>
                <li><a href="">개인정보처리방침</a></li>
                <li><a href="">윤리경영</a></li>
                <li class="spring"></li>
                <li><button><img th:src="@{'/assets/images/common/footer/ico-footer-search.png'}" alt="">극장찾기</button></li>
            </ul>
        </div>
        <div class="bottom">
            <ul>
                <li><img th:src="@{'/assets/images/common/footer/logo-opacity_new2.png'}" alt=""></li>
            </ul>
            <ul>
                <li>서울특별시 성동구 왕십리로 50, 6층 (성수동1가, 메가박스 스퀘어) ARS 1544-0070 대표이메일 m.dreamcenter@partner.megabox.co.kr</li>
                <li>대표자명 홍정인 · 개인정보보호책임자 강병철 · 사업자 등록번호 221-86-59478 · 통신판매업신고 2023-서울성동-0177</li>
                <li>COPYRIGHT © Megabox_loongAng, Inc. ALL rights reserved</li>
            </ul>
            <ul class="sns">
                <li><a href=""><img th:src="@{'/assets/images/common/footer/ico-youtubeN.png'}" alt=""></a></li>
                <li><a href=""><img th:src="@{'/assets/images/common/footer/ico-instagramN.png'}" alt=""></a></li>
                <li><a href=""><img th:src="@{'/assets/images/common/footer/ico-facebookN.png'}" alt=""></a></li>
                <li><a href=""><img th:src="@{'/assets/images/common/footer/ico-twitterN.png'}" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>

</html>