<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>메가박스</title>
    <link rel="shotcut icon" th:href="@{'/assets/images/favicon.ico'}">
    <link rel="stylesheet" th:href="@{'/assets/styles/common.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'/assets/styles/register-com.css'}" type="text/css">
    <link rel="stylesheet" th:href="@{'/assets/styles/main.css'}" type="text/css">
    <script defer th:src="@{'/assets/scripts/main.js'}" type="text/javascript"></script>

</head>
<body>

<div class="member-wrap">
    <h1>
        <a th:href="@{'/'}"><img th:src="@{'/assets/images/logo_new1.png'}" alt=""></a>
    </h1>
    <div class="members">
        <ul>
            <li>STEP1. 본인인증</li>
            <li>STEP2. 약관동의</li>
            <li class="on">STEP3. 정보입력</li>
            <li>STEP4. 가입완료</li>
        </ul>
    </div>

    <p>회원정보를 입력해주세요.</p>
    <form class="register-form" id="registerForm">
        <table>
            <tbody>
            <tr>
                <th>이메일</th>
                <td>
                    <label>
                        <input autofocus autocomplete="email" maxlength="50" minlength="8" name="email" type="email">
<!--                        <span class="_warning">올바른 이메일을 입력해 주세요.</span>-->
                    </label>
                </td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td>
                    <label>
                        <input maxlength="50" minlength="6" name="password" type="password">
<!--                        <span class="_warning">올바른 비밀번호를 입력해 주세요.</span>-->
                    </label>
                </td>
            </tr>
            <tr>
                <th>비밀번호 확인</th>
                <td>
                    <label>
                        <input name="passwordCheck" placeholder="비밀번호 재입력" type="password">
                    </label>
                </td>
            </tr>
            <tr>
                <th>닉네임</th>
                <td>
                    <label>
                        <input name="nickname" maxlength="10" minlength="2" type="text">
<!--                        <span class="_warning">올바른 닉네임을 입력해 주세요.</span>-->
                    </label>
                </td>
            </tr>
            <tr>
                <th>휴대폰 번호</th>
                <td>
                    <label>
                        <input name="contact" maxlength="12" minlength="10" placeholder="'-'없이 입력" type="tel">
<!--                        <span class="_warning">올바른 연락처를 입력해 주세요.</span>-->
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="button-wrap">
            <button class="--button -purple" type="submit">회원가입</button>
        </div>
    </form>
    <div class="button-wrap">
        <a th:href="@{'/'}"><button class="--button -gray">취소</button></a>
    </div>
</div>

</body>
</html>